/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
body{
  background-image: url("./assets/pexels-ákos-szabó-440731.jpg");
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  object-position: 23%;
  margin: calc(100-78vh);
  scroll-behavior: smooth;
}
.container{
  box-sizing: border-box;
  /* border: 1px solid yellowgreen; */
  display: flex;
  margin: 143px 0px;
  flex-direction: column;
}
header{
  position: absolute;
}
 .navbar{
  border: 1px solid cadetblue;
  background-color: gold;
  width: 100vw;
  margin-right: 360px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
}
#para5{
  color: white;
}
footer{
  color: white;
}
#carouselExampleSlidesOnly{
  display: flex;
  align-items: center;
  justify-content: center; 
}
.form-label{
  margin: 14px;
  
}
#label09{
  display: flex;
  
}

